/* About.css dark mode */

.about-container {
  text-align: center;
  height: 71vh;
  margin: 16vh 12px 12px 12px;
  padding: 30px;
  border-radius: 18px;
  background-color: #000000;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}


.heading {
  color: #ffffff;
  font-size: 30px;

}

.aboutme {
  color: #ffffff;
  font-size: 23px;
  line-height: 2.5;
  text-align: left;
  text-indent: 5%;
}

/* About.css light mode */

.about-container-light {
  text-align: center;
  height: 70vh;
  margin: 16vh 12px 12px 12px;
  padding: 30px;
  border-radius: 18px;
  border: 1px solid black;
  background-color: #ffffff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.heading-light {
  color: #000000;
  font-size: 30px;
}

.aboutme-light {
  color: #000000;
  font-size: 23px;
  line-height: 2.5;
  text-align: left;
  text-indent: 5%;
}