.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  outline: 1px solid red;
  height: 13vh;
  box-shadow: 0px 2px 2px -2px;
  transition: background-color 0.5s ease;
  padding: 1px;
  position: fixed;
  top: 1vh;
  width: 98vw;
  background-color: #000000;
  z-index: 1000;
}

.container-light {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  outline: 1px solid red;
  height: 13vh;
  box-shadow: 0px 2px 2px -2px;
  transition: background-color 0.5s ease;
  padding: 1px;
  position: fixed;
  top: 1vh;
  width: 98vw;
  background-color: #ffffff;
  z-index: 1000;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;

}

.first-half {
  color: #f30000;
}

.second-half {
  color: #ffffff;
}

.second-half-light {
  color: #000000;
}

.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1.2rem;
  margin-right: 50px;
}

.homii {
  list-style: none;
}

.nav-item {
  text-decoration: none;
  color: #ff0000;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: background 0.3s ease;
  cursor: pointer;

}

.nav-item:hover {
  background-color: #00baf3;
}

.nav1 {
  display: flex;
}

.light-theme {
  background-color: #ffffff;
  color: #000000;
  box-shadow: 5px 10px 5px rgb(37, 37, 37);
}


.dark-theme {
  background-color: #000000;
  color: #ffffff;
  box-shadow: 5px 10px 5px rgb(37, 37, 37);
}

.theme-toggle {
  cursor: pointer;
  font-weight: bold;
  color: #ff0000;
  transition: filter 0.3s ease;
  /* Add smooth transition */
}

.theme-toggle:hover {
  color: #ffffff;
  filter: drop-shadow(0 0 5px #dbf300) drop-shadow(0 0 20px #f3ef00) drop-shadow(0 0 30px #e3f300) brightness(1.2);
  /* Adjust glow effect and brightness on hover */
}