/* Navbar.css */

.navbar {
  background-color: #000000;
  color: #fc0000;
  padding: 1rem 0;
  box-shadow: rgb(117, 215, 125) 0px 25px 20px -20px;
  height: 50px;
  width: 100%;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-left: 135px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #ff0000;
  text-decoration: none;
}

/* Styles for the first half of the word */
.first-half {
  color: #f30000; 
}

.second-half {
  color: #ffffff; 
}

.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1.2rem;
  margin-right: 50px;
 
}

.nav-item {
  text-decoration: none;
  color: #ff0000;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: background 0.3s ease; /* Change to 'background' */
  cursor: pointer;
  display: inline-block;
 
}

.nav-item:hover {
  background-color: #00baf3;
}

.nav1{
  display: flex;
}