.profile-container-black {
  display: flex;
  height: 80vh;
  gap: 100px;
  border: 1px solid rgba(0, 0, 0, 0.267);
  background-image: url("/portFolioBackground.jpg");
  background-size: 100% 100%;
  margin: 16vh 12px 12px 12px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  border-radius: 18px;
  overflow: hidden;
  border: 1px solid #646464;
  justify-content: space-around;
  align-items: center;
}

.profile-container-white {
  display: flex;
  height: 80vh;
  gap: 100px;
  border: 1px solid rgba(0, 0, 0, 0.267);
  background-image: url("/porFolioBackgroundImage.jpg");
  margin: 16vh 12px 12px 12px;
  background-size: 100% 100%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid #646464;
  justify-content: space-around;
  align-items: center;
}

.profile-image {
  border-radius: 50%;
  overflow: hidden;
  width: 50vh;
  height: 50vh;
  border: 1px solid rgb(0, 0, 0);
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.profile-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

.role {
  color: red;
  font-size: 18px;
}

.profile-info-black {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #000000;
  text-align: center;
  animation: slideIn 5s ease-out;
}

.profile-info-black h2,
.profile-info-black h1 {
  font-size: 35px;
  color: #ffffff;
  filter: drop-shadow(10px 13px 10px rgb(20, 20, 20));
  line-height: 35px;
}

.profile-info-black p {
  filter: drop-shadow(10px 13px 3px rgb(0, 0, 0));
  color: #ffffff;
}

.profile-info-black button {
  padding: 10px 20px;
  background-color: #000000;
  color: #ff0000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.profile-info-black button:hover {
  background-color: #ffffff;
  box-shadow: 0px 0px 10px #ff0000;
}

.profile-info-white {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #000000;
  text-align: center;
  animation: slideIn 5s ease-out;
}

.profile-info-white h2,
.profile-info-white h1 {
  font-size: 35px;
  color: #000000;
  filter: drop-shadow(10px 13px 10px rgb(181, 181, 181));
  line-height: 35px;
}

.profile-info-white p {
  filter: drop-shadow(10px 13px 3px rgb(210, 209, 209));
  color: #000000;
}

.profile-info-white button {
  padding: 10px 20px;
  background-color: #000000;
  color: #ff0000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.profile-info-white button:hover {
  background-color: #000000;
  box-shadow: 0px 0px 10px #ff0000;
}