.project-container {
  margin: 30px;
  padding: 5vh 0px;
  background-color: #606060;
  border-radius: 18px;
  position: relative;
  overflow: hidden;
  margin: 16vh 12px 12px 12px;
}

.title-light {
  color: white;
}

.title {
  color: rgb(0, 0, 0);
}

.carousel-controls {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  padding: 0 12px;
  margin-bottom: 10px;
  z-index: 10;
}

.carousel-controls button {
  background-color: #ffa500;
  color: #000;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.carousel-controls button:hover {
  transform: scale(1.1);
  background-color: #ff7f00;
}

#projects {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  padding: 5vh 5vh;
  background-color: #606060;
  margin: 0px 12px 12px 12px;
  border-radius: 18px;
  scroll-snap-type: x mandatory;
  width: 100%;
  scroll-behavior: smooth;
}

.project,
.project-light {
  background-color: #121212;
  border: 1px solid black;
  border-radius: 18px;
  padding: 20px;
  width: 30vw;
  text-align: center;
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  scroll-snap-align: start;
  flex-shrink: 0;
}

.project-light {
  background-color: #ffffff;
  border: 1px solid #404040;
}

.project:hover,
.project-light:hover {
  transform: scale(1.05);
}

.project h3 {
  color: #ffffff;
}

.project-light h3 {
  color: #000000;
}

.project img,
.project-light img {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 15px;
}

.project ul,
.project-light ul {
  list-style-type: none;
  padding: 0;
}

.project ul li {
  color: #fefcfc;
  margin: 8px 0;
  font-weight: bold;
}

.project-light ul li {
  color: #000000;
  margin: 8px 0;
  font-weight: bold;
}

.project a,
.project-light a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  border-radius: 4px;
  background: linear-gradient(to bottom right, #fefcfc, #898989);
  transition: transform 0.3s ease-in-out;
}

.project a:hover,
.project-light a:hover {
  color: rgb(255, 0, 0);
  transform: scale(1.05);
}

#projects::-webkit-scrollbar {
  height: 8px;
}

#projects::-webkit-scrollbar-thumb {
  background: #ffa500;
  border-radius: 10px;
}

@media screen and (max-width: 956px) {
  #projects {
    flex-direction: column;
    align-items: center;
    padding: 5vh 0px;
  }

  .project,
  .project-light {
    width: 90vw;
  }
}