/* Experience.css */

.exp {
   border: 1px solid #e0e0e0;
   padding: 20px;
   border-radius: 8px;
   text-align: center;
   background: linear-gradient(to bottom right, #fefcfc, #00ddff); /* Gradient background color */
   color: #000000;
   margin: 30px;
   font-weight: bold;
   cursor: pointer;
   transition: transform 0.3s ease-in-out;
   box-shadow: 0 4px 8px rgb(249, 2, 2); /* Box shadow for a subtle lift effect */
 }
 .work{
  margin: 30px;
  padding: 20px;
  border-radius: 10px;
  background-color: #121212;
 }
 
 .comp{
   color: #0073ff;
 }
 
 .position {
   font-weight: bold;
   color: #333;
 }
 
 .duration,
 .location {
   color: #555;
 }
 
 .responsibilities {
   list-style-type: none;
   padding: 0;
   color: #333;
 }
 
 .responsibilities li {
   margin: 8px 0;
 }
 
 